page-sim {
  .title-sim{
    font-size: 3.5vw;
    font-family:"Arial Black";
    // color:#e8bb16;
    color:white;
  }
  .content-body{
    background-color: rgb(248, 248, 248);
  }
  .grid-column{
    padding: 0 0 0 0;
    margin-left: -5px;
    // .item-radio-checked{
    //   background-color: transparent;
    //   .button-inner{
    //     color: red;
    //     // background-color: red;
    //   }


    // }
  }
  .row-header{
    margin-top:1  0px;
    margin-left:10px;
    margin-bottom: -22px;
    .col-header1{
      padding: 0 0 0 0;
      margin-left: 0px;
      .logo {
        max-width: 100%;
        margin-left: -1px;
        height: auto;
        margin-top: 10px;
        display: block;
      }
    }
  }

  .grid_row{
    width:100%!important;
    padding: 0 0 0 0;
    margin-left: 5px;
    padding-right: 10px;
  }
  .grid_col{
    width:100%!important;
    padding: 0 0 0 0;
    margin-left: 5px;
  }
  // search boox
  .searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    /* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    box-shadow: 0 2px 2px 0 rgba(216, 207, 207, 0.14), 0 3px 1px -2px rgba(251, 249, 249, 0.2), 0 1px 5px 0 rgba(241, 238, 238, 0.12);
  }

  .searchbar-input {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border: none;
    font-family: inherit;
    width: 104%;
    margin-left: -3px;
    border-radius: 7px 7px 7px 7px!important;
  }

  .cari1{
    margin-top: 30px;
    .button-md{
      margin-left: 10px;
      border-radius: 2px;
      overflow: hidden;
      height: 3.6rem;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #d40707;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
  .card1{
    width:98%!important;
    padding: 0 0 0 0;
    margin-left:3px;
    // border: 1px solid #cac9c7ad;
    border-radius: 7px 7px 7px 7px!important;
    box-shadow: 0 2px 2px 0 rgba(177, 177, 177, 0.14), 0 3px 1px -2px rgba(187, 187, 187, 0.2), 0 1px 5px 0 rgba(125, 125, 125, 0.12);
    .card1-header{
      width:100%!important;
      padding: 0 0 0 0;
      // border: 2px solid #000000;
      .label{
        padding: 0 0 0 0;
        text-align: center;
        font-size: 4vw;
        font-weight: bold;
      }
    }
    .card-content{
      width:100%!important;
      // padding: 0 0 0 0;
    }
  }
  .sim-img{
    width: 80px;
    height: 80px;
    text-align: center;
  }
  .tabel{
    margin-bottom: 50px;
    .datatable-header {
      background: rgba(164, 192, 214,1);
      padding: 1em 0 0 1em;
    }
    .datatable-header-cell {
        font-size: 12px;
        font-weight: bold;
        height: 100%!important;
        margin-top: -5px;
    }
    .datatable-body-row {
        padding: 0;
        height: 100%!important;
    }
    .datatable-row-even {
        background: rgba(240, 240, 240, 1);
        font-size: 10px;
    }
    .datatable-row-odd {
        background: rgba(255, 255, 255,1);
        font-size: 10px;
    }
    .datatable-body-cell {
        padding: 0 0 0 0;
        height: 30px!important;
        .datatable-body-cell-label{
          font-size: 12px;
          vertical-align: middle;
          margin-top: 7px;
        }
    }

    // Style footer appearance
    .datatable-footer {
      background: rgba(218, 226, 234,1);
      padding: 0 1em 0 1em;
      .pager {
        li {
            padding: 0 1em !important;
            a {
              color: rgba(68, 68, 68, 1);
              text-decoration: none;
            }
        }
      }
    }
    // Style rules for the footer pagination elements
    .datatable-icon-done-all:before {
        content: ">>";
    }
    .datatable-icon-left:before {
        content: "<";
    }
    .datatable-icon-right:before {
        content: ">";
    }

    .datatable-icon-skip:before {
        content: ">>";
    }
    .datatable-icon-prev:before {
        content: "<<";
    }
  }
  // .datatable-body-cell{
  //   text-align: right;
  // }
  .datatable .datatable-row-right {
    display: flex;
  }
}
