page-tilang {
  .title-home{
    font-size: 3.5vw;
    font-family:"Arial Black";
    color:white;
  }
  .header-page{
    background-image: url('../assets/imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-body{
    background-color: white;
  }
  .grid-column{
    padding: 0 0 0 0;
    margin-left: -5px;
  }
}
