<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-label text-wrap class="title-toolbar">Tambah Pengguna</ion-label>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-body">
<!-- Login form -->
<form [formGroup]="todo" class="signup-form"  (ngSubmit)="tambahUser(todo.value)">
  <ion-card class="form-style1">
      <ion-card-header style="text-align: center">
        AUTORISASI
      </ion-card-header>
      <ion-card-content>
        <ion-list insert>
            <ion-item>
              <ion-label floating>
                <ion-icon name="person" item-start class="text-primary"></ion-icon>ID_POL
              </ion-label>
              <!-- <ion-input formControlName="id" placeholder="ID Polisi" type="text"></ion-input> -->
              <ion-input formControlName="id" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="todo.get('id').errors && todo.get('id').dirty">
                <p color="danger" ion-text *ngIf="todo.get('id').hasError('required')">Required</p>
            </ion-item>

          <ion-item>
            <ion-label floating>
              <ion-icon name="person" item-start class="text-primary"></ion-icon>Username
            </ion-label>
            <!-- <ion-input type="text"></ion-input> -->
            <ion-input formControlName="username"  type="text"></ion-input>
            <!-- <ion-input formControlName="username" placeholder="username" type="text"></ion-input> -->
          </ion-item>
          <ion-item *ngIf="todo.get('username').errors && todo.get('username').dirty">
              <p color="danger" ion-text *ngIf="todo.get('username').hasError('required')">Required</p>
          </ion-item>

          <ion-item>
            <ion-label floating>
              <ion-icon name="lock" item-start class="text-primary"></ion-icon>Password
            </ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="todo.get('password').errors && todo.get('password').dirty">
              <p color="danger" ion-text *ngIf="todo.get('password').hasError('required')">Required</p>
          </ion-item>
          <ion-item>
              <ion-label floating>
                <ion-icon name="person" item-start class="text-primary"></ion-icon>Nama Lengkap
              </ion-label>
              <ion-input formControlName="nama"  type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="todo.get('nama').errors && todo.get('nama').dirty">
              <p color="danger" ion-text *ngIf="todo.get('nama').hasError('required')">Required</p>
          </ion-item>
          <ion-item>
              <ion-label floating>
                <ion-icon name="person" item-start class="text-primary"></ion-icon>Jabatan
              </ion-label>
              <ion-select formControlName="jabatan" interface="popover" cancelText="Cancel" okText="OK">
                <ion-option
                  *ngFor="let item of selectjabatan"
                  value="{{item.name}}"
                >
                  {{item.name}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="todo.get('jabatan').errors && todo.get('jabatan').dirty">
                <p color="danger" ion-text *ngIf="todo.get('jabatan').hasError('required')">Required</p>
            </ion-item>

             <ion-item>
                <ion-label floating>
                  <ion-icon name="person" item-start class="text-primary"></ion-icon>Polda
                </ion-label>
                <ion-select formControlName="polda" cancelText="Cancel" okText="OK" (ionChange)="poldaChange($event)">
                    <ion-option
                      *ngFor="let item of selectPolda"
                      value="{{item.polda}}"
                    >
                      {{item.polda}}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="todo.get('polda').errors && todo.get('polda').dirty">
                <p color="danger" ion-text *ngIf="todo.get('polda').hasError('required')">Required</p>
            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="person" item-start class="text-primary"></ion-icon> Polwil/Tabes
              </ion-label>
              <ion-select formControlName="polwil" cancelText="Cancel" okText="OK">
                  <ion-option
                    *ngFor="let sp of selectPolwil"
                    value="{{sp.polres}}"
                  >
                    {{sp.polres}}
                  </ion-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="todo.get('polwil').errors && todo.get('polwil').dirty">
                <p color="danger" ion-text *ngIf="todo.get('polwil').hasError('required')">Required</p>
            </ion-item>

            <ion-item margin-bottom>
                <button ion-button color="primary"
                   text-center
                   block
                   [disabled]="!todo.valid">Simpan</button>
             </ion-item>

        </ion-list>
       </ion-card-content>
  </ion-card>
  <!-- <ion-card class="form-style1">
      <ion-card-header style="text-align: center">
          PRIVASI
      </ion-card-header>
      <ion-card-content>
          <ion-list insert>

              <ion-item>
                <ion-label floating>
                  <ion-icon name="person" item-start class="text-primary"></ion-icon>Jabatan
                </ion-label>
                <ion-input formControlName="jabatan" type="text"></ion-input>
              </ion-item>
              <ion-item *ngIf="todo.get('jabatan').errors && todo.get('jabatan').dirty">
                  <p color="danger" ion-text *ngIf="todo.get('jabatan').hasError('required')">Required</p>
              </ion-item>
              <ion-item>
                <ion-label floating>
                  <ion-icon name="person" item-start class="text-primary"></ion-icon>Polda
                </ion-label>
                <ion-input formControlName="polda" type="text"></ion-input>
              </ion-item>
              <ion-item *ngIf="todo.get('polda').errors && todo.get('polda').dirty">
                  <p color="danger" ion-text *ngIf="todo.get('polda').hasError('required')">Required</p>
              </ion-item>
              <ion-item>
                <ion-label floating>
                  <ion-icon name="person" item-start class="text-primary"></ion-icon> Polwil/Tabes
                </ion-label>
                <ion-input formControlname="polwil" type="text"></ion-input>
              </ion-item>
              <ion-item *ngIf="todo.get('polwil').errors && todo.get('polwil').dirty">
                  <p color="danger" ion-text *ngIf="todo.get('polwil').hasError('required')">Required</p>
              </ion-item>
              <ion-item margin-bottom>
                  <button ion-button color="primary"
                     text-center
                     block
                     [disabled]="!todo.valid">Simpan</button>
               </ion-item>
        </ion-list>
      </ion-card-content>
  </ion-card> -->
</form>
</ion-content>
